h1 {
    text-align: center;
    font-size: 36px;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

body {
    background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
}

.container {
    max-width: 600px;
    padding: 30px;
    margin: 60px auto;
    box-shadow: rgba(100 100 111) rgba 0px, 7px, 29px, 0px;
    border-radius: 10px;
    background: white;
}

select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

.city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;
}


footer {
    text-align: center;
    font-size: 18px;
}